<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="">
    <style>
    </style>
    <link rel="stylesheet" href="static/w3.css">
    <script src=""></script>
    <body>
        <div class="w3-container">
            <table class="w3-table">
                <thead>
                    <th>Name</th>
                    <th>Tag</th>
                    <th>Roles</th>
                </thead>
                <tbody>
                    {% for spec in specs %}
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
    </body>
</html>
