<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <title>Specxplorer</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="">
  <style>
    a { text-decoration: none; }
  </style>
  <link rel="stylesheet" href="static/w3.css">
  <script src=""></script>
  <body>
  <body class="w3-light-gray">
    <header class="w3-container w3-black w3-bar">
      <span class="w3-bar-item w3-large w3-right">
        Specxplorer
      </span>
    </header>
    <header class="w3-container w3-indigo">
      <h2><i class="fa fa-bank fa-fw"></i> List</h2>
    </header>
    <div class="w3-container w3-panel w3-white">
      <h3>Specifications by tag</h3>
      <p> Common roles in all specs:
        {% for common_role in common_roles %}
          <span style="line-height: 2.2em; border-radius: 3px; padding: 5px;" class="{{ w3_color(common_role) }}">{{ common_role }}</span>
        {% endfor %}
        <p>
          <table class="w3-table w3-border w3-hoverable">
            <thead>
              <th>Tag</th>
              <th>Common roles</th>
              <th>Name</th>
              <th>Roles</th>
              <th>Instruments</th>
            </thead>
            <tbody>
              {% for spec in specs %}
                <tr>
                  <td><span style="line-height: 2.2em; border-radius: 3px; padding: 5px;" class="{{ w3_color(spec.get("tag", "")) }}">{{ spec.get("tag") }}</span>
                  </td>
                  <td>
                  {% for key in common_roles_by_tag.keys()%}
                    {% if key == spec.get("tag") %}
                        {% for role in common_roles_by_tag[key] %}
                            <span style="line-height: 2.2em; border-radius: 3px; padding: 5px;" class="{{ w3_color(role) }}"> {{ role }}</span>
                        {% endfor %}
                    {% endif %} 
                    {% endfor %}
                  </td>
                  <td>
                    <a href="{{ url_for("spec", name=spec.get('name')) }}"><b>{{ spec.get("name") }}</b></a>
                  </td>
                  <td>
                    {% for role in spec.get("parameters", {}).get("roles", []) %}
                      <span class="{{ w3_color(role) }}" style="line-height: 2.5em; border-radius: 3px; padding: 5px;">{{ role }}</span>
                    {% endfor %}
                  </td>
                  <td>
                    {% for instrument in spec.get("parameters", {}).get("instruments", []) %}
                      <span class="{{ w3_color(instrument) }}" style="line-height: 2.5em; border-radius: 3px; padding: 5px;">{{ instrument }}</span>
                    {% endfor %}
                  </td>
                </tr>
              {% endfor %}
          </table>
        </p>
    </div>


    <div class="w3-container w3-panel w3-white">
      <h3>Specifications by role</h3>
      <p>
        <table class="w3-table w3-border w3-hoverable">
          <thead>
            <th>Role</th>
            <th>Specs</th>
          </thead>
          <tbody>
            {% for role, specs in specs_by_role.items() %}
              <tr>

                <td><span style="line-height: 2.2em; border-radius: 3px; padding: 5px;" class="{{ w3_color(role) }}">{{ role }}</span>
                </td>

                <td>
                  {% for spec in specs %}
                    <a href="{{ url_for('spec', name=spec.get('name')) }}">
                      <span class="{{ w3_color(spec.get('name')) }}" style="white-space: nowrap; line-height: 2.5em; border-radius: 3px; padding: 5px;">
                        {{ spec.get('name') }}
                      </span>
                    </a>&nbsp
                  {% endfor %}
                </td>

              </tr>
            {% endfor %}
        </table>
      </p>
    </div>

  </body>
</html>
